/* 

*/

.customfont {
    font-family: 'Press Start 2P';
    letter-spacing: 0.01ch;
    /* font-family: 'Aldrich'; */
}

.vh-85{
    height:85vh !important;
}

.nav-pills .nav-link.active,.nav-pills .show>.nav-link{
    color:#fff;background-color:#303030;
}

.navbar{
    font-size: 0.8rem;
}
li.nav-item{
    padding: 0 0.5rem;
}

.masthead, .page-section {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 10rem 0;
}

@media (max-width: 992px) {
    .masthead{
        padding: 1rem 0;
    }
}